<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            user: {{ app.user.email }}

            {% if app.user.avatar %}
                <div>
                    100*100
                    <img src="{{ optimize_file_url(app.user.avatar, 100, 100) }}" alt="optimize_avatar"/>
                </div>
                <div>
                    2000*2000
                    <img src="{{ optimize_file_url(app.user.avatar, 2000, 2000) }}" alt="optimize_avatar"/>
                </div>
                <div>
                    10*1000
                    <img src="{{ optimize_file_url(app.user.avatar, 10, 1000) }}" alt="optimize_avatar"/>
                </div>
                <div>
                    original
                    <img src="{{ file_url(app.user.avatar) }}" alt="avatar"/>
                </div>
            {% endif %}
        {% endif %}
        {% block body %}{% endblock %}
    </body>
</html>
